<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin | Card | Index</title>
        <!--/*/ <th:block th:replace="layouts/admin :: headerSection"> /*/-->
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap-->
        <link href="../../../static/atm_machine_dist/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!--Common Plugins CSS -->
        <link href="../../../static/atm_machine_dist/css/plugins/plugins.css" rel="stylesheet">
        <!--fonts-->
        <link href="../../../static/atm_machine_dist/lib/line-icons/line-icons.css" rel="stylesheet">
        <link href="../../../static/atm_machine_dist/lib/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
        <link href="../../../static/atm_machine_dist/lib/data-tables/dataTables.bootstrap4.min.css" rel="stylesheet">
        <link href="../../../static/atm_machine_dist/lib/data-tables/responsive.bootstrap4.min.css" rel="stylesheet">
        <link href="../../../static/atm_machine_dist/css/style.css" rel="stylesheet">
        <!--/*/ </th:block> /*/-->
    </head>
    <body>

        <div class="page-wrapper" id="page-wrapper">
            <!-- Side bar Begin -->
            <!--/*/ <th:block th:replace="layouts/admin :: sidebar"> /*/--> <!--/*/ </th:block> /*/-->
            <!-- Side bar End -->
            <main class="content">
                <!-- Nav Bar Begin -->
                <!--/*/ <th:block th:replace="layouts/admin :: navbar"> /*/--> <!--/*/ </th:block> /*/-->
                <!-- Nav Bar End -->
                <div class="page-subheader mb-30">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-7">
                                <div class="list">
                                    <div class="list-item pl-0">
                                        <div class="list-thumb ml-0 mr-3 pr-3  b-r text-muted">
                                            <i class="icon-Server-2"></i>
                                        </div>
                                        <div class="list-body">
                                            <div class="list-title fs-2x">
                                                <h3>Card Table</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="container-fluid">
                          <div class="bg-white table-responsive rounded shadow-sm pt-3 pb-3 mb-30">
                              <h6 class="pl-3 pr-3 text-capitalize font400 mb-20">
                                  <a th:href="@{/admin/card/create}" style="font-size: 1.2rem;color: rgb(247, 132, 56);">
                                      <i class="fas fa-plus"></i>
                                      <span>Create</span></a>
                              </h6>
                            <table id="data-table" class="table mb-0 table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name Detinator</th>
                                        <th>Numar Card</th>
                                        <th>Data Expirare</th>
                                        <th>CVV</th>
                                    </tr>
                                </thead>
                                <tbody th:each="card : ${cards}">
                                    <tr>
                                        <td th:text="${card.cardHolderName}">Nume Detinator</td>
                                        <td th:text="${card.cardNumber}">Poza nume</td>
                                        <td th:text="${card.expiryDate}"></td>
                                        <td th:text="${card.secureCode}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main><!-- page content end-->
        </div><!-- app's main wrapper end -->
        <!--/*/ <th:block th:replace="layouts/admin :: scripts"> /*/-->
        <!-- Common plugins -->
        <script type="text/javascript" src="../../../static/atm_machine_dist/js/plugins/plugins.js"></script>
        <script type="text/javascript" src="../../../static/atm_machine_dist/js/appUi-custom.js"></script>
        <!-- Required datatable js -->
        <script type="text/javascript" src="../../../static/atm_machine_dist/lib/data-tables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="../../../static/atm_machine_dist/lib/data-tables/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript" src="../../../static/atm_machine_dist/lib/data-tables/dataTables.responsive.min.js"></script>
        <script type="text/javascript" src="../../../static/atm_machine_dist/lib/data-tables/responsive.bootstrap4.min.js"></script>
        <script src="../../../static/atm_machine_dist/js/plugins-custom/datatables-custom.js"></script>
        <!--/*/ </th:block> /*/-->
    </body>
</html>
